*{
	padding:0;
	border:0;
	margin:0;
}


body{

	background-color: #222;
	font-family: Arial,Helvetica,sans-serif;
}

@font-face {
	font-family: 'Genericons';
	src:url('genericons/genericons-regular-webfont.woff')format('woff'),
		url('genericons/genericons-regular-webfont.eot')format('truetype');

}

.container {

	margin:50px auto;
	width:90%;
}

header h1{
	font-family:"Abel";
	text-align:center;
	color:#fff;
	margin-bottom:70px;

}

.accordion{
	background-color: #333;
	width:100%;
	min-width:800px;
	display:block;
	list-style-type: none;
	overflow:hidden;
	height:200px;
	font-size: 0;
}

.tab {
	display:inline-block;
	background-color: #444;
	overflow: hidden;
	position: relative;
	width:80px;
	margin:0;
	border-right:#333 solid 1px;
	height:200px;
	transition: all 0.5s ease-in-out 0.1s;
}
.tab:hover{
	width:450px;
}
.tab:hover .social a:before{
	margin-left:-100px;
}.tab:hover .social a:after{
	margin-left:-5px;
}


.tab .content {
	background:#fff;
	width:360px;
	height:200px;
	margin-left:80px;
	margin-right: 0px;
	position:relative;
	padding:50px 0 0 15px;


}
.tab .content h1{
	font-size:2.5rem;
	margin-bottom:10px;
}

.tab .content p{
	font-size:0.85rem;
	line-height:1.4rem;
	padding-right: 30px;
}
.social a:after{
	font-size:48px;
	padding-left:20px;
	padding-top:80px;
	margin-left: 85px;
}

.social a:before,
.social a:after{
	transition:all 0.4s ease-in-out 0.1s;
	width:80px;
	height:200px;
	position:absolute;
	text-indent: 0;
	padding-top: 90px;
	padding-left:25px;
	display:block;
	font:normal 30px Genericons;
	color:white;

}

.youtube a:before,
.youtube a:after{
	content:'\f213';
}
.youtube a:after{

	background-color:#bb0000;
}


.twitter a:before,
.twitter a:after{
	content:'\f202';
}
.twitter a:after{

	background-color:#6dc5dd;
}


.facebook a:before,
.facebook a:after{
	content:'\f204';
}
.facebook a:after{

	background-color:#3b5998;
}


.linkedin a:before,
.linkedin a:after{
	content:'\f208';
}
.linkedin a:after{

	background-color:#00a9cd;
}


.Instagram a:before,
.Instagram a:after{
	content:'\f215';
}
.Instagram a:after{

	background-color:#6dc993;
}
.Github a:before,
.Github a:after{
	content:'\f200';
}
.Github a:after{

	background-color:#6e5494;
}